.messageBlock {
    margin-left: 50px;
    border-left: 2px solid #5c7a80;

}

.messageItem {
    max-width: 500px;
    display: flex;
    flex-direction: row;
    margin: 20px 40px;
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message {
    max-width: 70%;
    margin-left: 20px;
    background: #fcf6e4;
    padding: 5px;
    border-radius: 10px;
}