.profile {
    margin: 20px;
    display: flex;
}

.profile__avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile__data {
    margin-left: 40px;
}

.profile__title {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.profile__descr {
    margin-top: 30px;
}

.profile__descr span {
    font-weight: bold;
}