.nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
    grid-area: n;
    font-size: 30px;
    /*background-color: cadetblue;*/
    background-color: #DA7B93;
}

.nav a {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

.nav a:hover {
    color: #282c34;
}