.header {
    grid-area: h;
    height: 100px;
    /*background-color: #282c34;*/
    background-color: #112D32;
}

.logo {
    height: 100%;
}

.loginBlock {
    float: right;
    color: #EFE2BA;
}
.loginBlock a {
    cursor: pointer;
}