.App {
  width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "h h"
                       "n m";
  grid-gap: 20px;
}

.App-header {
  grid-area: h;
  background-color: #282c34;
}

.App-logo {
  height: 100px;
  pointer-events: none;
  background-color: #282c34;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/
/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/



.App-nav {
  height: calc(100vmin - 120px);
  background-color: cadetblue;
  grid-area: n;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  grid-area: m;
  background-color: cornsilk;
  height: calc(100vmin - 120px);
}


